:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-teal: rgb(49, 195, 189);
  --teal: rgb(101, 233, 228);
  --dark-orange: rgb(242, 177, 55);
  --orange: rgb(255, 200, 96);
  --neutral-700: rgb(26, 42, 51);
  --neutral-600: rgb(31, 54, 65);
  --neutral-300: rgb(168, 191, 201);
  --neutral-200: rgb(219, 232, 237);
  --drop-shadow: rgb(16, 33, 42);
  --drop-shadow-orange: rgb(204, 139, 19);
  --drop-shadow-teal: rgb(17, 140, 135);
  --drop-shadow-silver: rgb(107, 137, 151);
}
