@use "../util" as *;

.icon {
  background-color: red; /* defines the background color of the image */
  height: rem(32);
  width: rem(32);
}
.new-game-menu__icon--x,
.game-board__icon--x {
  mask: url(../assets/icon-x.svg) no-repeat center / contain;
  -webkit-mask: url(../assets/icon-x.svg) no-repeat center / contain;
}

.new-game-menu__icon--o,
.game-board__icon--o {
  mask: url(../assets/icon-o.svg) no-repeat center / contain;
  -webkit-mask: url(../assets/icon-o.svg) no-repeat center / contain;
}
.game-board__icon--restart {
  mask: url(../assets/icon-restart.svg) no-repeat center / contain;
  -webkit-mask: url(../assets/icon-restart.svg) no-repeat center / contain;
}
.game-board__winner-marker {
  mask: url(../assets/icon-o.svg) no-repeat center / contain;
  -webkit-mask: url(../assets/icon-o.svg) no-repeat center / contain;
}

.logo {
  width: rem(72);
  height: rem(32);
}
