@use "../util" as *;
@use "../globals/fonts" as *;

.new-game-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__h1 {
    color: var(--neutral-300);
  }
  &__h2 {
    font-size: rem(14);
    text-transform: uppercase;
    font-weight: $fw-n;
    color: var(--neutral-300);
  }
  &__marker-picker {
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-600);
    padding: rem(24);
    padding-bottom: rem(30);
    border-radius: rem(15);
    box-shadow: inset 0 -8px 0 var(--drop-shadow);
    width: 100%;
    margin: rem(40) auto;
    color: var(--neutral-200);
    align-items: center;
  }
  &__marker-selection {
    display: flex;
    align-items: stretch;
    background-color: var(--neutral-700);
    border-radius: rem(10);
    padding: rem(9) rem(8);
    width: 100%;
    margin: rem(24) auto rem(17) auto;
    .new-game-menu__button {
      width: 100%;
      padding: rem(11);

      &:hover {
        cursor: pointer;
      }
      &--dark {
        background-color: var(--neutral-700);
        .icon {
          background-color: var(--neutral-200);
        }
      }
      &--light {
        background-color: var(--neutral-200);
        .icon {
          background-color: var(--neutral-700);
        }
      }
    }
  }

  &__button-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    .new-game-menu__button {
      color: var(--neutral-700);
      &--orange {
        margin-bottom: rem(20);
        box-shadow: inset 0 -8px 0 var(--drop-shadow-orange);
        background-color: var(--dark-orange);
      }
      &--teal {
        box-shadow: inset 0 -8px 0 var(--drop-shadow-teal);
        background-color: var(--dark-teal);
      }
    }
  }
}
